@page
@model SepahMD.Web.Pages.DentHomeModel
@{
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Dental Care Services, Preventive services include:, About Our Dental Clinicand why choose us?, Our Services, GeneralDentist &amp;amp; Prosthodontist, High Quality Treatment, contact us">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>DentHome</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="DentHome.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.6.5, nicepage.com">
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
     
    
   
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="DentHome">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode">
    <header class="u-align-right u-clearfix u-header u-header" id="sec-e3f6">
  
    </header> 
    <section class="u-clearfix u-image u-section-1" id="sec-d87c" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_0697">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-text u-text-palette-1-base u-text-1">بخش دهان و دندان</h2>
        <p class="u-custom-font u-text u-text-grey-50 u-text-2">لیست متخصصین بیماریهای دهان و دندان طرف قرارداد بانک</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1" data-href="DocDetails" data-page-id="2604311442">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-1" data-href="DentHome" data-page-id="811018064"><img src="images/3467830.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-3">دندانپزشکان</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-2" data-href="https://nicepage.com"><img src="images/1466973.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-4">دندانپزشک کودکان</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-left u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-3" data-href="https://nicepage.com"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="-30 1 511 511.9996" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2ba3"></use></svg><svg class="u-svg-content" viewBox="-30 1 511 511.9996" id="svg-2ba3"><path d="m260.855469 17.675781c-21.53125 12.726563-48.285157 12.722657-69.8125.003907-107.605469-63.640626-228.847657 56.125-179 174.695312 5.011719 11.957031 9.175781 24.234375 12.378906 36.5 1.726563 6.601562 7.691406 11.207031 14.515625 11.207031h111.511719v57.578125l-15.496094 2.613282c-8.167969 1.375-13.671875 9.109374-12.296875 17.277343 1.378906 8.195313 9.144531 13.671875 17.285156 12.296875l10.503906-1.769531v29.257813l-17.464843 2.910156c-8.171875 1.363281-13.691407 9.089844-12.328125 17.257812 1.355468 8.15625 9.066406 13.691406 17.261718 12.328125l12.53125-2.085937v29.574218l-17.464843 2.910157c-8.171875 1.359375-13.691407 9.085937-12.328125 17.257812 1.355468 8.152344 9.066406 13.6875 17.261718 12.328125l12.53125-2.089844v9.289063c0 30.320313 24.675782 54.984375 55 54.984375h40c30.328126 0 55-24.664062 55-54.984375v-34.28125l17.46875-2.910156c8.167969-1.359375 13.691407-9.085938 12.328126-17.257813-1.363282-8.167968-9.089844-13.683594-17.261719-12.328125l-12.535157 2.089844v-29.574219l17.46875-2.910156c8.167969-1.363281 13.691407-9.089844 12.328126-17.257812-1.363282-8.171876-9.089844-13.683594-17.261719-12.328126l-12.535157 2.085938v-29.539062l17.496094-2.949219c8.167969-1.375 13.671875-9.109375 12.296875-17.277344s-9.113281-13.675781-17.285156-12.296875l-12.503906 2.105469v-32.304688h111.15625c7.089843.460938 13.59375-4.15625 15.445312-11.097656 4.507813-16.894531 10.941407-32.671875 12.238281-35.261719 51.417969-119.027344-70.53125-239.859375-178.433593-176.046875zm9.59375 439.339844c0 13.78125-11.214844 24.992187-25 24.992187h-40c-13.785157 0-25-11.210937-25-24.992187v-14.285156l90-14.996094zm0-59.6875-90 14.992187v-29.574218l90-14.996094zm0-59.984375-90 14.996094v-29.316406l90-15.164063zm0-59.898438-90 15.164063v-52.523437h90zm141.296875-95.613281c-3.960938 9.171875-7.464844 18.636719-10.457032 28.257813h-351.003906c-3-9.871094-6.542968-19.691406-10.578125-29.320313-38.523437-91.632812 53.03125-186.382812 136.070313-137.269531 30.945312 18.28125 69.394531 18.28125 100.347656-.003906 83.585938-49.433594 175.246094 46.613281 135.621094 138.335937zm0 0"></path></svg></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-5">متخصص پروتزهای دندانی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-4" data-href="https://nicepage.com"><img src="images/993342.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-6">متخصص ارتودنسی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-5" data-href="https://nicepage.com"><img src="images/6870474.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-7">متخصص جراحی فک و صورت</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-6" data-href="https://nicepage.com"><img src="images/993262.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-8">متخصص ترمیمی و زیبایی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-7">
              <div class="u-container-layout u-similar-container u-container-layout-7"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-7" data-href="https://nicepage.com"><img src="images/7011048.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-9">متخصص پروتزهای دندانی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-8">
              <div class="u-container-layout u-similar-container u-container-layout-8"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-8" data-href="https://nicepage.com"><img src="images/2858062.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-10">متخصص بیماریهای دهان و دندان</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-9">
              <div class="u-container-layout u-similar-container u-container-layout-9"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-9" data-href="https://nicepage.com"><img src="images/2365009.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-11">متخصص جراحی لثه</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-10">
              <div class="u-container-layout u-similar-container u-container-layout-10"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-10" data-href="https://nicepage.com"><img src="images/993261.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-12">متخصص ریشه</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-11">
              <div class="u-container-layout u-similar-container u-container-layout-11"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-11" data-href="https://nicepage.com"><img src="images/1739567.png" alt=""></span>
                <h5 class="u-custom-font u-text u-text-palette-1-base u-text-13">کلینیکهای دندانپزشکی</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="sec-520e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-27 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-align-center u-image u-image-1" src="images/davoodkarimi.png" data-image-width="200" data-image-height="267">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-33 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h5 class="u-align-right u-custom-font u-text u-text-palette-1-base u-text-1">دندانپزشک معتمد بانک</h5>
                  <p class="u-align-right u-custom-font u-text u-text-2">دکتر داوود کریمی دارای مدرک دکترای حرفه‌ای دندانپزشکی دندان پزشک معتمد بانک میباشند.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>    
}
