@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-2683">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-custom-font u-small-text u-text u-text-variant u-text-1">.حق رایت محفوظ و متلعق به دایره رفاه بانک سپه منطقه آذربایجان غربی میباشد</p>
      </div>
    </footer>
}
