@page
@model SepahMD.Web.Pages.IndexModel
@{

}

<body class="u-body u-xl-mode">
    
    <section class="u-align-center u-clearfix u-section-1" id="carousel_0697">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-palette-1-base u-text-1">مراکز درمانی طرف قرارداد بانک </h2>
        <p class="u-custom-font u-text u-text-grey-50 u-text-2">لیست متخصصین و مراکز درمانی طرف قرارداد بانک</p>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1" data-href="DentHome" data-page-id="811018064">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-1" data-href="DentHome" data-page-id="811018064"><img src="images/2818366.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-3">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="DentHome" data-page-id="811018064">بیماریهای دهان و دندان</a>
                </h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-2" data-href="https://nicepage.com"><img src="images/169869.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-4">مراکز درمانگاهی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-3" data-href="https://nicepage.com"><img src="images/3439784.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-5">مراکز عینک</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-4" data-href="https://nicepage.com"><img src="images/2906493.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-6">مراکز آزمایشگاهی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-5" data-href="https://nicepage.com"><img src="images/1721129.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-7">فیزیوتراپی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-6" data-href="https://nicepage.com"><img src="images/619051.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-8">بیمارستانها</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-7">
              <div class="u-container-layout u-similar-container u-container-layout-7"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-7" data-href="https://nicepage.com"><img src="images/706165.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-9">رادیولوژی و سونوگرافی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-8">
              <div class="u-container-layout u-similar-container u-container-layout-8"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-8" data-href="https://nicepage.com"><img src="images/1111894.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-10">تصویربرداری فک و صورت</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-9">
              <div class="u-container-layout u-similar-container u-container-layout-9"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-9" data-href="https://nicepage.com"><img src="images/3140343.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-11">داروخانه ها</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-10">
              <div class="u-container-layout u-similar-container u-container-layout-10"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-10" data-href="https://nicepage.com"><img src="images/790098.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-12">متخصص کلیه و مجاری ادراری</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-11">
              <div class="u-container-layout u-similar-container u-container-layout-11"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-11" data-href="https://nicepage.com"><img src="images/1478356.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-13">روانپزشکی و مرکز مشاوره</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-12">
              <div class="u-container-layout u-similar-container u-container-layout-12"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-12" data-href="https://nicepage.com"><img src="images/954319.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-14">متخصص قلب و عروق</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-13">
              <div class="u-container-layout u-similar-container u-container-layout-13"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-13" data-href="https://nicepage.com"><img src="images/910077.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-15">متخصص مغز و اعصاب</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-14">
              <div class="u-container-layout u-similar-container u-container-layout-14"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-14" data-href="https://nicepage.com"><img src="images/6830727.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-16">متخصص پوست و مو</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-15">
              <div class="u-container-layout u-similar-container u-container-layout-15"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-15" data-href="https://nicepage.com"><img src="images/4813731.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-17">متخصص داخلی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-16">
              <div class="u-container-layout u-similar-container u-container-layout-16"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-16" data-href="https://nicepage.com"><img src="images/1021566.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-18">پزشک عمومی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-17">
              <div class="u-container-layout u-similar-container u-container-layout-17"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-17" data-href="https://nicepage.com"><img src="images/6044498.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-19">متخصص ارتوپد</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-18">
              <div class="u-container-layout u-similar-container u-container-layout-18"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-18" data-href="https://nicepage.com"><img src="images/3208998.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-20">طب فیزیکی و توانبخشی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-19">
              <div class="u-container-layout u-similar-container u-container-layout-19"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-19" data-href="https://nicepage.com"><img src="images/507060.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-21">متخصص چشم</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-20">
              <div class="u-container-layout u-similar-container u-container-layout-20"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-20" data-href="https://nicepage.com"><img src="images/4767704.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-22">متخصص کودکان</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-21">
              <div class="u-container-layout u-similar-container u-container-layout-21"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-21" data-href="https://nicepage.com"><img src="images/3790560.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-23">متخصص زنان و زایمان</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-22">
              <div class="u-container-layout u-similar-container u-container-layout-22"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-22" data-href="https://nicepage.com"><img src="images/2721021.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-24">گوش و حلق و بینی</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-23">
              <div class="u-container-layout u-similar-container u-container-layout-23"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-23" data-href="https://nicepage.com"><img src="images/1430522.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-25">فوق تخصص ریه</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-24">
              <div class="u-container-layout u-similar-container u-container-layout-24"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-spacing-22 u-icon-24" data-href="https://nicepage.com"><img src="images/3730480.png" alt=""></span>
                <h5 class="u-text u-text-palette-1-base u-text-26">پزشکان معتمد بانک</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>