@page
@model SepahMD.Web.Pages.IndexModel
@{

}
<div class="page-wrapper">


   
    
    <!--Search Popup-->
    

    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="swiper-container banner-slider" data-arrow="visible-desktop">
            <div class="swiper-wrapper">
                <!-- Slide Item -->
                <div class="swiper-slide" >
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <h4>به خدمات پزشکی داکلیک خوش آمدید</h4>
                                <h1>نزدیک ترین پزشک ،<br> کلینیک یا بیمارستان</h1>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</div>
                                <form action="#">
                                    <div class="form-wrapper">
                                        <input type="search" placeholder="مثال: نام دکتر یا بیمارستان و ...">
                                       
                                        <button type="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Item -->
                @*<div class="swiper-slide" style="background-image: url(assets/images/main-slider/image-2.jpg);">
                    <div class="content-outer">
                        <div class="content-box justify-content-center">
                            <div class="inner text-center">
                                <h1>جستجو یک پزشک یا کلینیک</h1>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با <br>استفاده از طراحان گرافیک است. چاپگرها و متون بلکه.</div>
                                <form action="#" class="fs-two">
                                    <div class="form-wrapper">
                                        <input type="search" placeholder="مثال: نام دکتر یا بیمارستان و ...">
                                        <button type="submit"><i class="icon-search"></i></button>
                                    </div>
                                    <ul class="select-box">
                                        <li>
                                            <div class="single-checkbox">
                                                <input type="radio" name="check-box" id="check1" checked="">
                                                <label for="check1"><span></span>همه</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single-checkbox">
                                                <input type="radio" name="check-box" id="check2">
                                                <label for="check2"><span></span>پزشک</label>    
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single-checkbox">
                                                <input type="radio" name="check-box" id="check3">
                                                <label for="check3"><span></span>بیمارستان/درمانگاه</label>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!-- End Bnner Section -->

 

    <!-- About Section -->
    <section class="about-section pt-0">
        <div class="shape-two"><img src="assets/images/shape/shape-10.png" alt=""></div>
        <div class="shape-three"><img src="assets/images/shape/shape-11.png" alt=""></div>
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-wrapper">
                        <div class="shape-one"><img src="assets/images/shape/shape-9.png" alt=""></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="image"><img src="assets/images/resource/image-1.jpg" alt=""></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="image"><img src="assets/images/resource/image-2.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="facts-block">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="4.5">0</span><span>K</span>
                                </div>
                                <div class="text">لیست پزشکان <br> و متخصص ...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sec-title">
                        <div class="sub-title">خدمات راهنمای پزشکی</div>
                        <h2>بهترین امکانات مراقبت <br> برای همه - در داکلیک شما <br> هر دکتری را پیدا خواهید کرد</h2>
                    </div>
                    <div class="row">   
                        <div class="col-md-6">
                            <ul class="list wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <li>رشد خود را حفظ کنید</li>
                                <li>لیست فزاینده کلینیک ها</li>
                                <li>مراقبت های بهداشتی در</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <li>تحویل رایگان دارو</li>
                                <li>تخفیف در هزینه ها</li>
                                <li>اطلاعات مربوط به هر بیماری</li>
                            </ul>
                        </div>
                    </div>
                    <div class="link-btn"><a href="#" class="theme-btn"><span> چگونه کمک می کنیم <i class="icon-arrow-left"></i></span></a></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Client logo section -->
   

    <!-- Doctors -->
    <section class="doctors-section">
        <div class="shape-one"><img src="assets/images/shape/shape-4.png" alt=""></div>
        <div class="shape-two"><img src="assets/images/shape/shape-5.png" alt=""></div>
        <div class="shape-three"><img src="assets/images/shape/shape-15.png" alt=""></div>
        <div class="auto-container">
            <div class="row title-content">
                <div class="col-lg-5">
                    <div class="sec-title">
                        <div class="sub-title">خدمات راهنمای پزشکی</div>
                        <h2>با پزشکان برترین <br> و بهترین آشنا شوید</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه <br> و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 doctor-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="doctor-details.html"><img src="assets/images/resource/image-3.jpg" alt=""></a>
                            <div class="rating">4.9<i class="icon_star"></i></div>
                            <div class="like"><i class="icon_heart"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="top-content">
                                <span class="category">چشم پزشک</span>
                                <a href="doctor-details.html"><h4>دکتر رمضانی</h4></a>
                                <div class="designation">D.N.Sc. - M.B.B.S,Ph.D</div>
                                <div class="text"><i class="icon_pin"></i>ایران , تهران , منطقه 1 , زعفرانیه , ساختمان پزشکان</div>
                            </div>
                            <div class="bottom-content">
                                <ul>
                                    <li><a href="#"><i class="icon_calendar"></i>برنامه نوبت</a></li>
                                    <li><a href="#"><i class="icon_phone"></i>نوبت امروز</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 doctor-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="doctor-details.html"><img src="assets/images/resource/image-4.jpg" alt=""></a>
                            <div class="rating">4.9<i class="icon_star"></i></div>
                            <div class="like"><i class="icon_heart"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="top-content">
                                <div class="category">قلب و عروق</div>
                                <a href="doctor-details.html"><h4>لیلا یوسفی</h4></a>
                                <div class="designation">D.N.Sc. - M.B.B.S,Ph.D</div>
                                <div class="text"><i class="icon_pin"></i>ایران , تهران , منطقه 1 , زعفرانیه , ساختمان پزشکان</div>
                            </div>
                            <div class="bottom-content">
                                <ul>
                                    <li><a href="#"><i class="icon_calendar"></i>برنامه نوبت</a></li>
                                    <li><a href="#"><i class="icon_phone"></i>نوبت امروز</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 doctor-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="doctor-details.html"><img src="assets/images/resource/image-5.jpg" alt=""></a>
                            <div class="rating">4.9<i class="icon_star"></i></div>
                            <div class="like"><i class="icon_heart"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="top-content">
                                <div class="category">آسیب شناس</div>
                                <a href="doctor-details.html"><h4>احمد مجرد</h4></a>
                                <div class="designation">D.N.Sc. - M.B.B.S,Ph.D</div>
                                <div class="text"><i class="icon_pin"></i>ایران , تهران , منطقه 1 , زعفرانیه , ساختمان پزشکان</div>
                            </div>
                            <div class="bottom-content">
                                <ul>
                                    <li><a href="#"><i class="icon_calendar"></i>برنامه نوبت</a></li>
                                    <li><a href="#"><i class="icon_phone"></i>نوبت امروز</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 doctor-block style-two">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="doctor-details.html"><img src="assets/images/resource/image-6.jpg" alt=""></a>
                            <div class="rating">4.9<i class="icon_star"></i></div>
                            <div class="like"><i class="icon_heart_alt"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="top-content">
                                <span class="category">چشم پزشک</span>
                                <a href="doctor-details.html"><h4>دکتر رمضانی</h4></a>
                                <div class="designation">D.N.Sc. - M.B.B.S,Ph.D</div>
                                <div class="text"><i class="icon_pin"></i>ایران , تهران , منطقه 1 , زعفرانیه , ساختمان پزشکان</div>
                            </div>
                            <div class="bottom-content">
                                <ul>
                                    <li><a href="#"><i class="icon_calendar"></i>برنامه نوبت</a></li>
                                    <li><a href="#"><i class="icon_phone"></i>نوبت امروز</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 doctor-block style-two">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="doctor-details.html"><img src="assets/images/resource/image-7.jpg" alt=""></a>
                            <div class="rating">4.9<i class="icon_star"></i></div>
                            <div class="like"><i class="icon_heart_alt"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="top-content">
                                <div class="category">قلب و عروق</div>
                                <a href="doctor-details.html"><h4>لیلا یوسفی</h4></a>
                                <div class="designation">D.N.Sc. - M.B.B.S,Ph.D</div>
                                <div class="text"><i class="icon_pin"></i>ایران , تهران , منطقه 1 , زعفرانیه , ساختمان پزشکان</div>
                            </div>
                            <div class="bottom-content">
                                <ul>
                                    <li><a href="#"><i class="icon_calendar"></i>برنامه نوبت</a></li>
                                    <li><a href="#"><i class="icon_phone"></i>نوبت امروز</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 doctor-block style-two">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="doctor-details.html"><img src="assets/images/resource/image-8.jpg" alt=""></a>
                            <div class="rating">4.9<i class="icon_star"></i></div>
                            <div class="like"><i class="icon_heart_alt"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="top-content">
                                <div class="category">آسیب شناس</div>
                                <h4>مینا عبادی</h4>
                                <div class="designation">D.N.Sc. - M.B.B.S,Ph.D</div>
                                <div class="text"><i class="icon_pin"></i>ایران , تهران , منطقه 1 , زعفرانیه , ساختمان پزشکان</div>
                            </div>
                            <div class="bottom-content">
                                <ul>
                                    <li><a href="#"><i class="icon_calendar"></i>برنامه نوبت</a></li>
                                    <li><a href="#"><i class="icon_phone"></i>نوبت امروز</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-all-docto text-center mb-30">
                <a href="doctors-1.html" class="theme-btn"><span>مشاهده همه پزشکان <i class="icon-arrow-left"></i></span></a>
            </div>
        </div>
    </section>

    <!-- Working Process section -->
    <section class="working-process-section">
        <div class="sec-bg" style="background-image: url(assets/images/background/bg-1.png)"></div>
        <div class="auto-container">
            <div class="sec-title text-center light">
                <div class="sec-logo"><img src="assets/images/resource/logo-icon.png" alt=""></div>
                <div class="sub-title">خدمات راهنمای پزشکی جهانی</div>
                <h2>گرفتن نوبت در داکلیک چگونه است</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 process-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="count">1</div>
                        <div class="image"><img src="assets/images/resource/image-1.png" alt=""></div>
                        <div class="lik-btn"><a href="#" class="link"><i class="icon-arrow-left"></i></a></div>
                        <div class="text">بهترین دکتر بیمارستان <br> یا کلینیک را پیدا کنید</div>
                    </div>
                </div>
                <div class="col-lg-4 process-block">
                    <div class="inner-box wow animated fadeInDown" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="count">2</div>
                        <div class="image"><img src="assets/images/resource/image-2.png" alt=""></div>
                        <div class="lik-btn"><a href="#" class="link"><i class="icon-arrow-left"></i></a></div>
                        <div class="text">مشاهده کامل پروفایل <br> و برنامه نوبت پزشک</div>
                    </div>
                </div>
                <div class="col-lg-4 process-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="count">3</div>
                        <div class="image"><img src="assets/images/resource/image-3.png" alt=""></div>
                        <div class="lik-btn"><a href="#" class="link"><i class="icon-arrow-left"></i></a></div>
                        <div class="text">چکاپ خود را انجام دهید <br> و سلامت بمانید</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Medical Directory -->
    <section class="medical-directory-section">
        <div class="auto-container">
            <div class="row title-content">
                <div class="col-lg-5">
                    <div class="sec-title">
                        <div class="sub-title">راهنمای پزشکی داکلیک</div>
                        <h2>به راحتی اطلاعات <br> مورد نیاز را پیدا کن</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه <br> و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.</div>
                </div>
            </div>
            <div class="directory-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="left-content">
                            <h3>جستجو توسط <br> دپارتمان ها</h3>
                            <h5><a href="#">مشاهده همه بخش ها</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="wrapper-box">
                            <div class="outer-box">
                                <div class="theme_carousel owl-theme owl-carousel" data-options='{"rtl": true,"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "2" }, "600" :{ "items" : "3" }, "768" :{ "items" : "4" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-neurosurgery"></span>
                                        </div>
                                        <h4>مغز و اعصاب</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-urology"></span>
                                        </div>
                                        <h4>اورولوژی</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-ophthalmology"></span>
                                        </div>
                                        <h4>چشم پزشکی</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-medicine"></span>
                                        </div>
                                        <h4>همه پزشکی</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="directory-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="left-content">
                            <h3>جستجو توسط <br> بیماری / وضعیت</h3>
                            <h5><a href="#">مشاهده همه شرایط</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="wrapper-box">
                            <div class="outer-box">
                                <div class="theme_carousel owl-theme owl-carousel" data-options='{"rtl": true,"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "2" }, "600" :{ "items" : "3" }, "768" :{ "items" : "4" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-heart"></span>
                                        </div>
                                        <h4>قلب</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-cancer"></span>
                                        </div>
                                        <h4>سرطان</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-diabetes"></span>
                                        </div>
                                        <h4>دیابت</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-influenza"></span>
                                        </div>
                                        <h4>آنفولانزا</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="directory-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="left-content">
                            <h3>جستجو توسط <br> روش پزشکی</h3>
                            <h5><a href="#">مشاهده همه رویه ها</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="wrapper-box">
                            <div class="outer-box">
                                <div class="theme_carousel owl-theme owl-carousel" data-options='{"rtl": true,"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "2" }, "600" :{ "items" : "3" }, "768" :{ "items" : "4" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-blood"></span>
                                        </div>
                                        <h4>تجزیه و تحلیل خون</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-endoscopy"></span>
                                        </div>
                                        <h4>آندوسکوپی</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-therapy"></span>
                                        </div>
                                        <h4>درمان</h4>
                                    </div>
                                    <div class="icon-box">
                                        <div class="icon">
                                            <span class="icon-ultrasound"></span>
                                        </div>
                                        <h4>سونوگرافی</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Hospital Section -->
    <section class="hopital-section">
        <div class="auto-conainer">
            <div class="sec-title text-center">
                <div class="sec-logo"><img src="assets/images/resource/logo-icon.png" alt=""></div>
                <div class="sub-title">خدمات راهنمای پزشکی جهانی</div>
                <h2>بیمارستان های ویژه داکلیک</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 hsopital-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image"><img src="assets/images/resource/image-9.jpg" alt=""></div>
                        <div class="overlay">
                            <div class="content">
                                <h4>بیمارستان لاله ، تهران</h4>
                                <h5>ما از بهترین راه ها مراقبت می کنیم</h5>
                                <div class="link-btn"><a href="hospital-details.html"><i class="icon-arrow-left"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 hsopital-block">
                    <div class="inner-box wow animated fadeInDown" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image"><img src="assets/images/resource/image-10.jpg" alt=""></div>
                        <div class="overlay">
                            <div class="content">
                                <h4>بیمارستان لاله ، تهران</h4>
                                <h5>ما از بهترین راه ها مراقبت می کنیم</h5>
                                <div class="link-btn"><a href="hospital-details.html"><i class="icon-arrow-left"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 hsopital-block">
                    <div class="inner-box wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image"><img src="assets/images/resource/image-11.jpg" alt=""></div>
                        <div class="overlay">
                            <div class="content">
                                <h4>بیمارستان لاله ، تهران</h4>
                                <h5>ما از بهترین راه ها مراقبت می کنیم</h5>
                                <div class="link-btn"><a href="hospital-details.html"><i class="icon-arrow-left"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 hsopital-block">
                    <div class="inner-box wow animated fadeInDown" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="image"><img src="assets/images/resource/image-12.jpg" alt=""></div>
                        <div class="overlay">
                            <div class="content">
                                <h4>بیمارستان لاله ، تهران</h4>
                                <h5>ما از بهترین راه ها مراقبت می کنیم</h5>
                                <div class="link-btn"><a href="hospital-details.html"><i class="icon-arrow-left"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials-section pt-0">
        <div class="shape-one"><img src="assets/images/shape/shape-6.png" alt=""></div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="sec-logo"><img src="assets/images/resource/logo-icon.png" alt=""></div>
                <div class="sub-title">خدمات راهنمای پزشکی جهانی</div>
                <h2>نظرات مردم درباره کار ما</h2>
            </div>
            <div class="row">
                <div class="theme_carousel owl-theme owl-carousel" data-options='{"rtl": true,"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "2" }}}'>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                <h4>بهمن رضایی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                <h4>لیلا یوسفی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                <h4>بهمن رضایی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                <h4>لیلا یوسفی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                <h4>بهمن رضایی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                <h4>لیلا یوسفی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                <h4>بهمن رضایی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                <h4>لیلا یوسفی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                <h4>بهمن رضایی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 testimonial-block">
                        <div class="inner-box">
                            <div class="shape">
                                <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="162px" height="162px">
                               <path fill-rule="evenodd"  fill="rgb(233, 245, 250)"
                                d="M51.907,4.025 C4.744,-12.017 -4.034,30.812 3.061,42.932 C13.643,61.007 32.866,50.344 47.072,67.720 C53.996,76.190 53.497,84.812 59.956,103.148 C63.142,112.195 72.317,125.968 88.600,128.832 C107.082,132.083 115.911,127.220 127.941,135.094 C142.748,144.787 134.937,160.333 142.655,161.040 C148.709,161.596 161.984,153.268 161.302,139.151 C161.105,135.085 165.023,118.834 139.180,100.625 C129.617,93.888 111.663,92.827 102.735,85.214 C86.062,70.995 86.544,57.694 80.574,41.376 C73.423,21.829 69.404,9.976 51.907,4.025 Z"/>
                               </svg>
                            </div>
                            <div class="author-info">
                                <div class="thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                <h4>لیلا یوسفی</h4>
                                <div class="location">تهران ، ایران</div>
                            </div>
                            <div class="content">
                                <div class="rating-info">
                                    <h5>بهترین راهنمای پزشکی</h5>
                                    <div class="rating">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </div>
                                </div>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </section>

    <!-- Latest News section -->
    <section class="latest-news-section pt-0">
        <div class="shape-one"><img src="assets/images/shape/shape-9.png" alt=""></div>
        <div class="auto-container">
            <div class="row title-content">
                <div class="col-lg-5">
                    <div class="sec-title">
                        <div class="sub-title">راهنمای پزشکی داکلیک</div>
                        <h2>به راحتی اطلاعات <br> مورد نیاز را پیدا کن</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه <br> و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 news-block">
                    <div class="inner-box">
                        <div class="image">                            
                            <img src="assets/images/resource/image-13.jpg" alt="">
                            <div class="date"><strong>31</strong> مرداد</div>
                        </div>
                        <div class="lower-content">
                            <div class="post-meta-info">
                                <div class="author"><img src="assets/images/resource/author-3.jpg" alt="">اکبر مهتابی</div>
                                <div class="category"><i class="icon_folder-alt"></i>بیمارستان</div>
                                <div class="comment">460<i class="icon_chat_alt"></i></div>
                            </div>
                            <h4><a href="blog-details.html">بزرگترین جامعه از همه متخصصان <br> مراقبت های بهداشتی</a></h4>
                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی <br> نامفهوم از صنعت چاپ و با استفاده.</div>
                            <div class="link-btn"><a href="blog-details.html" class="theme-btn style-two"><span>ادامه مطلب <i class="icon-arrow-left"></i></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 news-block">
                    <div class="inner-box">
                        <div class="image">                            
                            <img src="assets/images/resource/image-14.jpg" alt="">
                            <div class="date"><strong>12</strong> تیر</div>
                        </div>
                        <div class="lower-content">
                            <div class="post-meta-info">
                                <div class="author"><img src="assets/images/resource/author-5.jpg" alt="">فردین جعفری</div>
                                <div class="category"><i class="icon_folder-alt"></i>بیمارستان</div>
                                <div class="comment">460<i class="icon_chat_alt"></i></div>
                            </div>
                            <h4><a href="blog-details.html">بهترین راهنمای شبکه پزشکی <br> برای پزشکان و بیماران</a></h4>
                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی <br> نامفهوم از صنعت چاپ و با استفاده.</div>
                            <div class="link-btn"><a href="blog-details.html" class="theme-btn style-two"><span>ادامه مطلب <i class="icon-arrow-left"></i></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 news-block">
                    <div class="inner-box">
                        <div class="image">                            
                            <img src="assets/images/resource/image-15.jpg" alt="">
                            <div class="date"><strong>19</strong> تیر</div>
                        </div>
                        <div class="lower-content">
                            <div class="post-meta-info">
                                <div class="author"><img src="assets/images/resource/author-6.jpg" alt="">رضا دوستی</div>
                                <div class="category"><i class="icon_folder-alt"></i>بیمارستان</div>
                                <div class="comment">460<i class="icon_chat_alt"></i></div>
                            </div>
                            <h4><a href="blog-details.html">مراقبت های اولیه اغلب اولین نقطه تماس افراد است</a></h4>
                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی <br> نامفهوم از صنعت چاپ و با استفاده.</div>
                            <div class="link-btn"><a href="blog-details.html" class="theme-btn style-two"><span>ادامه مطلب <i class="icon-arrow-left"></i></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter Section -->
    <section class="newsletter-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="content">
                        <div class="icon"><span class="icon-envelope"></span></div>
                        <h3>اشتراک در  خبرنامه </h3>
                        <div class="text">خدمات سری 24 ساعته فهرست راهنمای پزشکی</div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="newsletter-form">
                        <form class="ajax-sub-form" method="post">
                            <div class="form-group">
                                <input type="email" placeholder="آدرس ایمیل خود را وارد کنید..." id="subscription-email">
                                <button type="submit" class="theme-btn"><span>اشتراک <i class="icon-arrow-left"></i></span></button>
                                <label class="subscription-label" for="subscription-email"></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon-arrow-left"></span></div>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.fancybox.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/parallax-scroll.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/script.js"></script>
