@page
@model SepahMD.Web.Pages.NewCityModel
@{
    <head>
    </head>
    
    <div>
	 <section class="u-align-center u-clearfix u-section-1" id="sec-8b00">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">تعریف شهرستان درمانی جدید</h2>
        <div class="u-align-center u-form u-form-1">
          <form  method="post" class="u-clearfix u-form-spacing-5 u-form-vertical u-inner-form" style="padding: 10px;"  name="form" >
            <div class="u-form-group u-form-name ">
              <label for="province" class="u-custom-font u-label u-label-1"> استان</label>
              <input dir="rtl" type="text" asp-for="newcity.ProvinceName" placeholder="نام استان" id="province" name="province" class="u-border-1 u-border-palette-1-base u-custom-font u-input u-input-rectangle u-white u-input-1"  >
            </div>
            <div class="u-form-group u-form-name ">
              <label for="city" class="u-custom-font u-label u-label-1"> نام شهرستان</label>
              <input dir="rtl" type="text" asp-for="newcity.CityName" placeholder="نام شهرستان" id="city" name="city" class="u-border-1 u-border-palette-1-base u-custom-font u-input u-input-rectangle u-white u-input-1"  >
            </div>
            <div class="u-form-group u-form-name ">
              <label for="precode" class="u-custom-font u-label u-label-1"> پیش شماره تلفن</label>
              <input dir="rtl" type="text" asp-for="newcity.Precode" placeholder="پیش شماره تلفن" id="precode" name="precode" class="u-border-1 u-border-palette-1-base u-custom-font u-input u-input-rectangle u-white u-input-1"  >
            </div>
            <input type="submit" class="btn btn-primary" value="ادامه" onclick="clicked()">
          </form>
        </div>
      </div>
    </section>
    </div>
}
